.comment-wrapper {
    display: flex;
    flex-direction:column-reverse;
}

.button-like {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
}

.button-like:hover {
    text-decoration: none;
}

.like {
    color: #545454;
}
.like:hover {
    color: #545454;
}

.liked {
    color: #337ab7;
}
.liked:hover {
    color: #337ab7;
}
